@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500|Work+Sans&display=swap');


* {
	box-sizing: border-box;
}

body {
	font-family: 'Work Sans', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	height: 50px;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.banner-text-app {
	font-size: 40px;
}

.footer {
	width: auto;
	height:auto ;
	background: #dbdbdb;
	box-sizing: border-box;
}


.capa_block {
    width: auto;
	height:auto ;
	background: #000000;
	box-sizing: border-box;
}

h1, h2 , h3 {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif; 
	font-size: 35px;
	margin-top: 10px;
}

h4 {
    color: #000000;
    font-family: 'Raleway', sans-serif; 
}

.features_header {
	font-size: 35px;

}

.capa_block_text {
    box-sizing: border-box;
    line-height: inherit;
	padding-left: 50px;
}

.stats {
	text-align: center;
	align-items: center;
	font-size: 32px;
}

p {
	font-family: 'Raleway', sans-serif; 
}

.app {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.features_block {
	width: auto;
	height:auto ;
	background: #000000;
	box-sizing: border-box;
}

.features_block_text {
	color: #ffffff;
}



@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
}
@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

@media all and (max-width:500px){
	.banner-text-items{
		width: 100%
	}
}